{% extends "blog/base.html" %}

{% block content %}
<h1>{{ blogpost.title }}</h1>
<p>by {{ blogpost.author }} on {{ blogpost.pub_date }}</p>
{{ blogpost.content }}
{% endblock content %}

{% block comments %}
<h2>Comments:</h2>
<ul>
    {% for com in blogpost.comment_set.all %}
    <li>
        <p><a href="#{{ com.get_relative_url }}" id="{{ com.get_relative_url }}">#{{ com.get_relative_url }}</a></p>
        <p>{{ com.content }}</p>
        <p>{{ com.author }} on {{ com.pub_date }}</p>
    </li>
    {% empty %}
    <li><p>No comments.</p></li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <a href="{% url 'blog:comment_create' pk=blogpost.pk %}">Post comment</a>
{% else %}
    <a href="{% url 'login' %}?next={% url 'blog:comment_create' pk=blogpost.pk %}">Log in to comment</a>
{% endif %}
{% endblock comments %}

