{% extends "blog/base.html" %}

{% block content %}
<h1>All blog posts</h1>
<p>Welcome to <em>Simple Blog</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<ul>
{% for bp in blogpost_list %}
<li><a href="{{ bp.get_absolute_url }}">{{ bp.title }}</a> on {{ bp.pub_date }} by <a href="{{ bp.author.get_absolute_url }}">{{ bp.author }}</a></li>
{% empty %}
    <li>No posts at this time.</li> 
{% endfor %}
</ul>
{% endblock content  %}


{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}
